In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from tabulate import tabulate

In [2]:
res = requests.get("https://www.nationmaster.com/country-info/stats/Media/Households-with-television")
res

In [3]:
######Use a beautifulSoup library to parse the html content

soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0]
df = pd.read_html(str(table))[0]

df.head()

   #        COUNTRY   AMOUNT  DATE  GRAPH  HISTORY
0  1  Faroe Islands  112.04%  2000    NaN      NaN
1  2         Norway   99.97%  2002    NaN      NaN
2  3    Switzerland   99.83%  2002    NaN      NaN
3  4         Greece    99.5%  2004    NaN      NaN
4  5          Spain   99.48%  2005    NaN      NaN

In [6]:
###data cleaning up
##only keep "country",'amount' and 'date'
df_final = df[['COUNTRY','AMOUNT','DATE']]
df_final.head(5)

         COUNTRY   AMOUNT  DATE
0  Faroe Islands  112.04%  2000
1         Norway   99.97%  2002
2    Switzerland   99.83%  2002
3         Greece    99.5%  2004
4          Spain   99.48%  2005